
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="text-center container">
        <h1 class="mt-5">Transfer Inventory from Warehouse Inventory to a store</h1>
        <br>
        <a href="/inventory" class="btn btn-primary mb-3">Go back to Inventory Page</a>
        <br>
        <form action="/inventory/transfer" method="post" onSubmit="return ValidateFormInfoFilledTransfer(formdata)">
                <label> Please Enter the Amount of each of the following items you would like to transfer to this store.</label>
                <label> Note: if you want to transfer zero product of an item please enter 0 in that field.</label>
                <br>
                <br>
                <input hidden readonly type="text" name="_id" id="_id" value=<%= id%>>
                <label for="pepsi">Pepsi</label>
                <input type="number" class="form-control" name="pepsi" id="pepsi" >
                <br>
                <label for="mountaindew">Mountain Dew</label>
                <input type="number" class="form-control" name="mountaindew" id="mountaindew" >
                <br>
                <label for="starry">Starry Mist</label>
                <input type="number" class="form-control" name="starry" id="starry" >
                <br>
                <label for="cocacola">Coca-Cola</label>
                <input type="number" class="form-control" name="cocacola" id="cocacola" >
                <br>
                <label for="drpepper">Dr. Pepper</label>
                <input type="number" class="form-control" name="drpepper" id="drpepper" >
                <br>
                <label for="doc360">Doc 360</label>
                <input type="number" class="form-control" name="doc360" id="doc360" >
                <br>
                <label for="fanta">Fanta</label>
                <input type="number" class="form-control" name="fanta" id="fanta" >
                <br>
                <label for="sprite">Sprite</label>
                <input type="number" class="form-control" name="sprite" id="sprite" >
                <br>
                <label for="water">Water</label>
                <input type="number" class="form-control" name="water" id="water" >
                <br>
                <label for="gatorade">Gatorade</label>
                <input type="number" class="form-control" name="gatorade" id="gatorade" >
                <br>
                <label for="redbull">Red Bull</label>
                <input type="number" class="form-control" name="redbull" id="redbull" >
                <br>
                <button type="submit" class="btn btn-primary" onClick="ValidateFormInfoFilled()">Submit</button>
        </form>
        
        </div>
        <script>
                var formdata;

        function ValidateFormInfoFilledTransfer() {
            formdata = {
                pepsi: document.getElementById("pepsi").value,
                mountaindew: document.getElementById("mountaindew").value,
                starry: document.getElementById("starry").value,
                cocacola: document.getElementById("cocacola").value,
                drpepper: document.getElementById("drpepper").value,
                doc360: document.getElementById("doc360").value,
                fanta: document.getElementById("fanta").value,
                sprite: document.getElementById("sprite").value,
                water: document.getElementById("water").value,
                gatorade: document.getElementById("gatorade").value,
                redbull: document.getElementById("redbull").value
            };

           
           if ( formdata.pepsi == "" || formdata.mountaindew == "" || formdata.starry == "" || formdata.cocacola == "" || formdata.drpepper == "" || formdata.doc360 == "" || formdata.fanta == "" || formdata.sprite == "" || formdata.water == "" || formdata.gatorade == "" || formdata.redbull == "") {
                alert("Please fill in all fields");
                event.preventDefault();
                return false;
            }
            else {
                return true;
            }
        }
    </script>
  </body>
</html>